src/main/mule/deleteRestaurantById.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="deleteRestaurantByIdFlow" doc:id="f5b2f357-20be-472b-8c94-a1b4f004ac5b" >
		<db:delete doc:name="Delete" doc:id="cdc30a29-564a-49d3-a3b3-2003204ccf57" config-ref="Database_Config1">
			<db:sql ><![CDATA[DELETE FROM `swiggy-restaurantdb`.`restaurant` WHERE (`restaurant_id` = :id);]]></db:sql>
			<db:input-parameters ><![CDATA[#[output application/java
---
{
	id: vars.id	
	}]]]></db:input-parameters>
		</db:delete>
	</flow>
</mule>
